{% extends "components/base.html" %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block title %}THREAD | About{% endblock %}
{% block body %}
<!-- <header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"> -->
      <!-- embed video using link, mp4 format-->
      <!-- <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
      </video>
      <div class="container h-100">
        <div class="d-flex text-left h-100">
          <div class="my-auto w-100 text-white" id="videotext">
            <div id="toptitletext">
              <div><h1>About Thread</h1></div>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet mauris et magna consectetur convallis.</div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <button type="button" class="btn btn-outline-light">Our Mission</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-outline-light">Our E-Board</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-outline-light">Our Subteams</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-outline-light">Get Involved</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header> -->

    <div class="container-fluid" id="about">
      <h1 class="text-center text-uppercase" id="title">Who We Are</h1>

      <div class="row">

        <div class="col-lg-12 col-sm-10 text-left mb-2">
          <p id="whoweare"> <span id="thread">Thread Magazine</span> is an independent student publication and the only fashion, lifestyle, and
            art magazine at Cornell. Thread represents a conglomeration of student-made fashion, art, photography,
            styling, and design. We publish an issue each semester and aim to showcase the interdisciplinary talents of
            individuals within the Cornell community through compelling visual and written storytelling.
        </div>

        <div class="col-lg-12 col-sm-10 text-center mb-2">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-sm-10 text-center mb-2">
                <h5 id="title-text" class="text-uppercase text-left mb-4">Our Process</h5>
		<?xml version="1.0" encoding="UTF-8"?>
		<svg width="900px" height="190px" viewBox="0 0 874 190" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		  <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
		  <defs>
		    <circle id="path-1" cx="263" cy="20" r="16"></circle>
		    <filter x="-21.9%" y="-15.6%" width="143.8%" height="143.8%" filterUnits="objectBoundingBox" id="filter-2">
		      <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
		      <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
		      <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.16 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
		    </filter>
		  </defs>
		  <g id="aaliya" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		    <g id="ABOUT:-Option-1" transform="translate(-335.000000, -648.000000)">
		      <g id="Group-21" transform="translate(327.000000, 645.000000)">
			<path d="M99.5,88 L816,88" id="Line-2" stroke="#000000" stroke-linecap="square"></path>
			<g id="Group-20">
			  <g id="Group-19" transform="translate(0.000000, 68.000000)">
                            <text id="CHOOSE-A-THEME" font-family="Avenir-Heavy, Avenir" font-size="16" font-weight="600" fill="#141011">
                              <tspan x="7.568" y="80">CHOOSE A THEME</tspan>
                            </text>
                            <circle id="Oval-Copy" fill="#DE99A2" cx="80" cy="20" r="20"></circle>
                            <circle id="Oval-Copy-6" fill="#FFFFFF" cx="80" cy="20" r="16"></circle>
                            <g id="Oval-Copy-5">
                              <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                              <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                            </g>
			  </g>
			  <g id="Group-18" transform="translate(184.000000, 22.000000)">
                            <text id="IDEATE-ON-THEME" font-family="Avenir-Heavy, Avenir" font-size="16" font-weight="600" fill="#141011">
                              <tspan x="6.824" y="16">IDEATE ON THEME</tspan>
                            </text>
                            <g id="Group-22" transform="translate(60.000000, 46.000000)">
                              <circle id="Oval" fill="#DE99A2" cx="20" cy="20" r="20"></circle>
                              <path d="M4,21 L18.969258,21 L18.969258,4.03074198 C19.2999735,4.01034781 19.6334073,4 19.969258,4 C28.805814,4 35.969258,11.163444 35.969258,20 C35.969258,28.836556 28.805814,36 19.969258,36 C11.4685527,36 4.5161964,29.3707297 4,21 Z" id="Combined-Shape" fill="#FFFFFF" transform="translate(19.984629, 20.000000) scale(-1, 1) translate(-19.984629, -20.000000) "></path>
                            </g>
			  </g>
			  <g id="Group-17" transform="translate(368.000000, 68.000000)">
                            <text id="DEVELOP-EDITORIAL-&amp;" font-family="Avenir-Heavy, Avenir" font-size="16" font-weight="600" fill="#141011">
                              <tspan x="43.112" y="80">DEVELOP </tspan>
                              <tspan x="30.072" y="102">EDITORIAL &amp; </tspan>
                              <tspan x="18.232" y="124">PHOTOSHOOTS</tspan>
                            </text>
                            <g id="Group-23" transform="translate(60.000000, 0.000000)">
                              <circle id="Oval-Copy-2" fill="#DE99A2" cx="20" cy="20" r="20"></circle>
                              <path d="M4,4 C12.836556,4 20,11.163444 20,20 C20,28.836556 12.836556,36 4,36 L4,4 Z" id="Combined-Shape" fill="#FFFFFF" transform="translate(12.000000, 20.000000) scale(-1, 1) translate(-12.000000, -20.000000) "></path>
                            </g>
			  </g>
			  <g id="Group-15" transform="translate(736.000000, 68.000000)">
                            <text id="PRINT-&amp;-LAUNCH" font-family="Avenir-Heavy, Avenir" font-size="16" font-weight="600" fill="#141011">
                              <tspan x="12.744" y="80">PRINT &amp; LAUNCH</tspan>
                            </text>
                            <circle id="Oval-Copy-4" fill="#DE99A2" cx="80" cy="20" r="20"></circle>
			  </g>
			  <g id="Group-16" transform="translate(552.000000, 0.000000)">
                            <text id="POST-PRODUCTION-AND" font-family="Avenir-Heavy, Avenir" font-size="16" font-weight="600" fill="#141011">
                              <tspan x="4.008" y="16">POST-PRODUCTION </tspan>
                              <tspan x="28.008" y="38">AND LAYOUT</tspan>
                            </text>
                            <g id="Group-24" transform="translate(60.000000, 68.000000)">
                              <circle id="Oval-Copy-3" fill="#DE99A2" cx="20" cy="20" r="20"></circle>
                              <path d="M4,4 C12.836556,4 20,11.163444 20,20 L4,20 L4,4 Z" id="Combined-Shape" fill="#FFFFFF" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                            </g>
			  </g>
			</g>
		      </g>
		    </g>
		  </g>
		</svg>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-10 text-left" id="our-values">

          <div class="container-fluid">
            <h5 id="title-text" class="text-uppercase">Our Values</h5>
            <div class="row">
              <div class="col-lg-4 col-md-2 text-center" id="left-box">
                <img id="values" class="img-responsive" src="{% static 'imgs/thread_values2.png' %}" />
              </div>
              <div class="col-lg-8 col-md-8 text-left" id="right-box">
                <p id="passage">

                  <span id="passage-title">Fashion is interdisciplinary</span>
                  Thread is a fashion magazine that acts like a design organization, thought platform, and artistic collective. We look to
                  explore and showcase the breadth of creativity at Cornell.
                  <br/><br/>
                  <span id="passage-title">Thread doesn't have one look</span>
                  Fashion encompasses many faces and we strive to do the same. We go beyond the boundaries of 'trendy' and 'stylish',
                  using apparel as a medium of expression to mark cultural conversations.
                  <br/><br/>
                  <span id="passage-title">Thread redefines beauty</span>
                  We see hair and makeup as physical manifestations of human feeling, emotion and experience. Beauty is dynamic
                  and multi-faceted.
                  <br/><br/>
                  <span id="passage-title">Design with purpose</span>
                  We translate visual inspirations into paper medium, evoking and enhancing thematic elements in every decision,
                  making this magazine not only a publication but a work of art.

                  </p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>


    <div class="container-fluid mx-auto" id="teams">
      <h1 class="text-uppercase text-center" id="title">Teams</h1>
      <!-- team row 1 -->
      <div class="mx-auto mb-5 row text-center">
        <div class="col-md-1 mx-auto"></div>
        <div class="col-md-3 mx-auto">
	  <div id="hover">
	    <h6 id="team-name">CREATIVE</h6>
	    <p id="team-desc">Creative Team is the idea engine of the magazine. We work to create a cohesive and enticing story for each issue and collaborate with Styling, Beauty, and Art teams to design dynamic photo shoots.
	    </p>
	  </div>
            <span class="border border-white">  <img class="img-responsive team-box" src={% static 'imgs/thread_teams/01creative.png' %} alt=""> </span>
        </div>
        <div class="col-md-3 mx-auto">
	  <div id="hover">
	    <h6 id="team-name">ART</h6>
	    <p id="team-desc">We are post-production: we select, edit, and lay out photos for the final magazine.</p>
	  </div>
            <span class="border border-white">  <img class="img-responsive team-box" src={% static 'imgs/thread_teams/02art.png' %} alt=""> </span>

        </div>
        <div class="col-md-3 mx-auto">
	  <div id="hover">
	    <h6 id="team-name">PHOTOGRAPHY</h6>
	    <p id="team-desc">We photograph, and in so doing, tie the publication together. We search for dedicated visual storytellers, looking to document both the product and the process. Photographers will work hands on at photoshoots, behind the scenes, with street style campaigns, and with online content. Camera gear required, experience recommended.
	    </p>
	  </div>
            <span class="border border-white">  <img class="img-responsive team-box" src={% static 'imgs/thread_teams/03photography.png' %} alt=""> </span>
        </div>
        <div class="col-md-1 mx-auto"></div>
      </div>
      <!-- team row 1 -->
      <div class="mx-auto mb-5 row text-center">
        <div class="col-md-1 mx-auto"></div>
        <div class="col-md-3 mx-auto">
	  <div id="hover">
	    <h6 id="team-name">BEAUTY</h6>
	    <p id="team-desc">As the beauty team, we create and execute all makeup and hair looks for the publication. We are looking for not only makeup artists and hair stylists, but generally individuals with an artistic beauty perspective. Experience recommended but not necessary.
	    </p>
	  </div>
            <span class="border border-white">  <img class="img-responsive team-box" src={% static 'imgs/thread_teams/04beauty.png' %} alt=""> </span>
        </div>
        <div class="col-md-3 mx-auto">
	  <div id="hover">
	    <h6 id="team-name">EDITORIAL</h6>
	    <p id="team-desc">We are charged with curating the editorial content of all print and online media. We are looking for writers interested in creating engaging content.
	    </p>
	  </div>
          <span class="border border-white">  <img class="img-responsive team-box" src={% static 'imgs/thread_teams/05editorial.png' %} alt=""> </span>
	  
        </div>
        <div class="col-md-3 mx-auto">
	  <div id="hover">
	    <h6 id="team-name">STYLING</h6>
	    <p id="team-desc">Styling Team brings the magazine to life by conceptualizing and executing each photoshoot. We work closely with creative teams to collaborate on a visual, thinking about how we can embody the concept through the look. We source apparel, shoes, and accessories, prepare models, and engage in all things Production.</p>
	  </div>
            <span class="border border-white">  <img class="img-responsive team-box" src={% static 'imgs/thread_teams/06styling.png' %} alt=""> </span>
        </div>
        <div class="col-md-1 mx-auto"></div>
      </div>
      <!-- team row 1 -->
      <div class="mx-auto mb-5 row text-center">
        <div class="col-md-1 mx-auto"></div>
        <div class="col-md-3 mx-auto">
	  <div id="hover">
	    <h6 id="team-name">BUSINESS</h6>
	    <p id="team-desc">The Business Team manages the magazine’s finances by securing advertisements from local businesses and conducts alumni outreach. Additionally, the team plans the Launch Party each semester and member socials.
	    </p>
	  </div>
            <span class="border border-white">  <img class="img-responsive team-box" src={% static 'imgs/thread_teams/07business.png' %} alt=""> </span>
        </div>
        <div class="col-md-3 mx-auto">
	  <div id="hover">
	    <h6 id="team-name">MARKETING</h6>
	    <p id="team-desc">The Marketing Team is responsible for the external communication of Thread, and is committed to sharing compelling original content on our digital platforms to engage and expand our audience. Through our work on social media and merchandise, we establish Thread’s branding and aim to strengthen our presence on campus and beyond.</p>
	  </div>
            <span class="border border-white">  <img class="img-responsive team-box" src={% static 'imgs/thread_teams/08marketing.png' %} alt=""> </span>

        </div>
        <div class="col-md-3 mx-auto">
	  <div id="hover">
	    <h6 id="team-name">WEB</h6>
	    <p id="team-desc">The Web Team works to connect all aspects of Thread through our online platform. We continue to add new content and design features that correspond with our tangible magazine. We strive to promote Thread as a whole online as well while also providing individuals with a new lens into our publication.</p>
	  </div>
            <span class="border border-white">  <img class="img-responsive team-box" src={% static 'imgs/thread_teams/09web.png' %} alt=""> </span>
        </div>
        <div class="col-md-1 mx-auto"></div>
      </div>
    </div>

  <div class="container-fluid" id="eboard">
      <h1 class="text-uppercase text-center mb-4" id="title">Executive Board</h1>

      <!-- eboard row 1 -->
      <div class="row mt-4 mb-4">

        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src={% static 'imgs/fw2018_eboard/01omar_abdul-rahim.png' %} alt="">
          <h3 id="membername">Omar Abdul-Rahim</h3>
          <h4 id="titlename">President</h4>
        </div>

        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src={% static 'imgs/fw2018_eboard/02nadine_fuller.png' %} alt="">
          <h3 id="membername">Nadine Fuller</h3>
          <h4 id="titlename">Vice President</h4>
          </div>

        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src={% static 'imgs/fw2018_eboard/03joyce_jin.png' %} alt="">
          <h3 id="membername">Joyce Jin</h3>
          <h4 id="titlename">Technical Director</h4>
        </div>

        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src={% static 'imgs/fw2018_eboard/04cornellius_tulloch.png' %} alt="">
          <h3 id="membername">Cornellius Tulloch</h3>
          <h4 id="titlename">Creative Director</h4>

        </div>
      </div>

      <!-- eboard row 2 -->

      <div class="row mb-4">

        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src={% static 'imgs/fw2018_eboard/05michael_choe.png' %} alt="">
          <h3 id="membername">Michael Choe</h3>
          <h4 id="titlename">Art Director</h4>

        </div>

        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src={% static 'imgs/fw2018_eboard/06andie_orduna.png' %} alt="">
          <h3 id="membername">Andie Orduna</h3>
          <h4 id="titlename">Editor in Chief</h4>
        </div>


        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src={% static 'imgs/fw2018_eboard/07jacob_swaim.png' %} alt="">
          <h3 id="membername">Jacob Swaim</h3>
          <h4 id="titlename">Assistant Editor in Chief</h4>

        </div>

        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src={% static 'imgs/fw2018_eboard/08savanna_lim.png' %} alt="">
          <h3 id="membername">Savanna Lim</h3>
          <h4 id="titlename">Photography Director</h4>

        </div>

      </div>

      <!-- eboard row 3 -->
      <div class="row  mb-4">

        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src={% static 'imgs/fw2018_eboard/09charlene_pires.png' %} alt="">
          <h3 id="membername">Charlene Pires</h3>
          <h4 id="titlename">Beauty Director</h4>

        </div>

        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src={% static 'imgs/fw2018_eboard/10christine_yang.png' %} alt="">
          <h3 id="membername">Christine Yang</h3>
          <h4 id="titlename">Marketing Director</h4>

        </div>

        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src={% static 'imgs/fw2018_eboard/11jackie_han.png' %} alt="">
          <h3 id="membername">Jackie Han</h3>
          <h4 id="titlename">Business Director</h4>
        </div>

        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src={% static 'imgs/fw2018_eboard/12cedric_castillo.png' %} alt="">
          <h3 id="membername">Cedric Castillo</h3>
          <h4 id="titlename">Web Director</h4>
        </div>

      </div>

    </div>
</div>
{% endblock %}
